// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.special_link {
  text-decoration: none;
  color: blue;
}

table {
  border-collapse: collapse;
}

td {
  padding: 12px;
}

.even {
  background-color: #ccffcc;
}

.odd {
  background-color: #f0f8ff;
}

.title {
  background-color: limegreen;
  color: white;
}