<p id="notice"><%= notice %></p>

<h1>Todo Lists</h1>

<% @todo_lists.each do |todo_list| %>
    <div class="todoList">
      <%= todo_list.list_due_date %>
      <%= link_to "#{todo_list.list_name}", todo_list %>
    </div>
<% end %>

<br>

<%= link_to 'New Todo list', new_todo_list_path %>
